{"filter":false,"title":".gitignore","tooltip":"/TestFirst-Part-1/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1656645754208,"hash":"0d43c007605431d72aea557a5f61270b3ca2f437"}