{"filter":false,"title":".gitignore","tooltip":"/test/test3/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1656104841636,"hash":"f46aec1a64f9dc9f324aa53ac9fdffa14b821bf0"}